<section class="wrapper module-booking">
  <div class="container">
    <div class="row">
      <div class="col-twelve text-c">
        <h2>Booking</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-twelve col-six-70">
      </div>
      <div class="col-twelve col-six-70">
        <ol>
          <h4 class="booking--ol-header">Drums</h4>
          <li>Kick (mic)</li>
          <li>Snare (mic)</li>
          <li>Rack Tom (mic) - Add Reverb</li>
          <li>Floor Tom (mic) - Add Reverb</li>
          <li>Hi Hat (mic)</li>
          <li>Crash (overhead mic)</li>

          <h4 class="booking--ol-header">Sample Pad</h4>
          <li>Kick (trigger) - DI Provided</li>
          <li>Snare (trigger) - DI Provided</li>
          <li>Keyboard Bass + Backing Track - DI Provided</li>

          <h4 class="booking--ol-header">Guitars</h4>
          <li>Guitar Amp 1 (mic)</li>
          <li>Guitar Amp 2 (mic)</li>

          <h4 class="booking--ol-header">Keyboard</h4>
          <li>Keyboard - DI Needed</li>

          <h4 class="booking--ol-header">Vocals</h4>
          <li>Vocals (uses own delay pedal but please add reverb to house mix) - DI Needed for 1/4" out of effects pedal.</li>


        </ol>
        <div>
          NOTES:
          - For kick and snare please use 75% trigger sound and 25% live drum sound.
          - We use a total of 5 DI's and can provide 3 of our own.
        </div>
      </div>
    </div>

  </div>
</section>
