<style>
  body {
    background: #d8c8b1;
  }
</style>
<section class="wrapper module-booking">
  <div class="container">
    <div class="row booking--heading">
      <div class="col-twelve text-c">
        <h2 class="sr-only">Booking</h2>
        <img src="/images/hoh-logo.svg" class="module-booking--title" alt="Houses of Heaven logo">
      </div>
    </div>

    <div class="row">
      <div class="col-twelve col-six-90 module-booking--column">
        <h3 class="text-c">Bio</h3>
        <div class="module-booking--photo text-c">
          <img src="images/promo-photo-optimized.jpg" class="module-booking--promo-photo">
        </div>
        <p class="module-booking--bio">
          San Francisco's Houses of Heaven is the latest project of Keven Tecon, Adam Beck and Nick Ott. Mixing drum machines, analog synths, ambient guitars and live percussion the band blends their musical love of shoegaze, dub, krautrock and electronic music into their debut EP <em>Remnant</em>. The EP was recorded at Ruminator Studios by producer Monte Vallier (Weekend, Soft Moon, Wax Idols). Remnant will be released on felte records May 19th.
        </p>
        <div class="module-booking--contact">
          <p>
            <strong>Booking:</strong> <a href="mailto:housesofheaven@gmail.com">housesofheaven@gmail.com</a><br />
            <strong>Felte records:</strong> <a href="mailto:jeff@feltesounds.com">jeff@feltesounds.com</a><br />
            <strong>Press:</strong> <a href="mailto:housesofheaven@gmail.com">housesofheaven@gmail.com</a><br />
          </p>
        </div>
        <div class="module-booking--promo-download">
          <a href="images/houses-of-heaven--full-size.jpg" download>Download Promo Photo</a><br />
          <a href="images/hoh-logo--large.jpg" download>Download Logo</a><br />
        </div>
      </div>
      <div class="col-twelve col-six-90 booking--input-list module-booking--column">
        <h3 class="text-c">Input List</h3>
        <ol>
          <h4 class="booking--ol-header">Drums</h4>
          <li>Kick (mic)</li>
          <li>Snare (mic)</li>
          <li>Rack Tom (mic) - <em>Add Reverb</em></li>
          <li>Floor Tom (mic) - <em>Add Reverb</em></li>
          <li>Hi Hat (mic)</li>
          <li>Crash (overhead mic)</li>

          <h4 class="booking--ol-header">Sample Pad</h4>
          <li>Kick (trigger) - DI Provided</li>
          <li>Snare (trigger) - DI Provided</li>
          <li>Keyboard Bass + Backing Track - DI Provided</li>

          <h4 class="booking--ol-header">Guitars</h4>
          <li>Guitar Amp 1 (mic)</li>
          <li>Guitar Amp 2 (mic)</li>

          <h4 class="booking--ol-header">Keyboard</h4>
          <li>Keyboard - <strong>DI Needed</strong></li>

          <h4 class="booking--ol-header">Vocals</h4>
          <li>Vocals - <strong>DI Needed for 1/4" out of effects pedal.</strong> - <em>Add Reverb</em></li>


        </ol>
        <div>

          <ul>
            <h4 class="booking--ol-header">NOTES:</h4>
            <li>For kick and snare please use 75% trigger sound and 25% live drum sound.</li>
            <li>We use a total of 5 DI's and can provide 3 of our own. <strong>We will need 2 DI's.</strong></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-twelve">
        <div class="center-b">
          <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/279705692%3Fsecret_token%3Ds-pakaS&amp;color=1c2b2c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>        </div>
        </div>
      </div>
    </div>

  </div>
</section>
