h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font-stack;
  font-weight: normal;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  letter-spacing: .3em;
  width: auto;
  margin: 0 auto;
  display: block;
  position: relative;
  left: .15em;
}

h2::after, h3::after, h4::after{
  content: "";
  position: absolute;
  left: -.15em;
  bottom: .25em;
  right: .15em;
  margin: auto;
  background: currentColor;
  height: 1px;
  width: 100%;
}

h3 {
  font-size: 3rem;
  letter-spacing: .3em;
  width: auto;
  margin: 0 auto;
  display: block;
  position: relative;
  left: .15em;
}

h3::after {
  width: 100vw;
}

h4::after {
  bottom: 4em;
  width: 15rem;
}

@media screen and (min-width: 600px){

  h2 {
    font-size: 8.4rem;
  }

  h2::after{
    width: 30rem;
  }

  h3 {
    font-size: 4rem;
  }

  h4 {
    font-size: 1.8rem;
  }

}
