<section class="wrapper module-bio">
  <div>
    <div class="row">
      <div class="col-twelve col-six-100 module-bio--photo"></div>

      <div class="col-twelve col-six-100 module-bio--text">
        <div id="contact" class="scrollable-point"></div>
        <img src="images/hoh-logo-white.svg" class="center-b module-bio--title">
        <h2 class="sr-only">Houses of Heaven</h2>
        <div class="row text-c">
          <div class="col-twelve"><h3 class="module-bio--headings bk">Booking</h3></div>
          <div class="col-twelve module-bio--contact-info"><a href="mailto:housesofheaven@gmail.com">housesofheaven@gmail.com</a></div>
        </div>
        <div class="row text-c">
          <div class="col-twelve"><h3 class="module-bio--headings fb">Facebook</h3></div>
          <div class="col-twelve module-bio--contact-info"><a href="https://www.facebook.com/housesofheaven" target="_blank" rel="nofollow noopener">/housesofheaven</a></div>
        </div>
        <div class="row text-c">
          <div class="col-twelve"><h3 class="module-bio--headings ig">Instagram</h3></div>
          <div class="col-twelve module-bio--contact-info"><a href="https://www.instagram.com/houses.of.heaven/" target="_blank" rel="nofollow noopener">@houses.of.heaven</a></div>
        </div>
        <div class="row text-c">
          <div class="col-twelve"><h3 class="module-bio--headings tw">Twitter</h3></div>
          <div class="col-twelve module-bio--contact-info"><a href="https://twitter.com/housesofheaven" target="_blank" rel="nofollow noopener">@housesofheaven</a></div>
        </div>
      </div>
    </div>

  </div>
</section>
