<section class="wrapper module-bio">
  <div>
    <div class="row">
      <div class="col-twelve col-six-100 module-bio--photo"></div>

      <div class="col-twelve col-six-100 module-bio--text">
        <div id="bio" class="scrollable-point"></div>
        <img src="images/hoh-logo-white.svg" class="center-b module-bio--title">
        <p>
          San Francisco's Houses of Heaven is the latest project of Keven Tecon, Adam Beck and Nick Ott. Mixing drum machines, analog synths, ambient guitars and live percussion the band blends their musical love of shoegaze, dub, krautrock and electronic music into their debut EP Remnant.
          The EP was recorded at Ruminator Studios by producer Monte Vallier (Weekend, Soft Moon, Wax Idols). Remnant will be released on <a href="www.felte.net/" target="_blank" rel="nofollor noopener" title="Visit felte records">felte records</a> May 19th, 2017.
        </p>
      </div>
    </div>

  </div>
</section>
