<div id="music" class="scrollable-point"></div>
<section class="wrapper module-music">
  <div class="container">
    <div class="row">
      <div class="col-twelve text-c">
        <h2>Music</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-twelve">
        <div class="module-music--iframe-container center-b text-cx">
          <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=271943535/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://housesofheaven.bandcamp.com/album/remnant">Remnant by Houses of Heaven </a></iframe>
        {{!-- <div class="module-music--no-music-text">Streams from <em>Remnant</em><br class="mobile-break"> coming soon.</div> --}}
      </div>
    </div>

  </div>
</section>
