<section id="navbar" class="transparent">
  <div class="container">
    <div class="row">
      <div class="col-three">
        <span class="navbar--helper"></span><img src="/images/hoh-logo.svg" class="navbar--logo" alt="Houses of Heaven logo">
      </div>
      <nav class="col-nine">
        <ul class="navbar--links">
          <a href="#live"><li class="navbar--list-item">Live</li></a>
          <a href="#music"><li class="navbar--list-item">Music</li></a>
          <a href="#news"><li class="navbar--list-item">News</li></a>
          <a href="#bio"><li class="navbar--list-item">Bio</li></a>
        </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
