<div id="module-splash" class="wrapper module-splash">
  <div class="container module-splash--container">
    <div class="center-b text-c">
      <img src="/images/hoh-logo.svg" class="module-splash--title" alt="Houses of Heaven logo">
    </div>
  </div>
</div>
