// Override Bootstrap variables in this file, e.g.

$sans-font-stack: 'Lato', sans-serif;
$serif-font-stack: 'Old Standard TT', serif;

$hc-border-color: #fff;
$bg-white: #fff;
$white: #fff;
$bg-dark-blue: #1c2b2c;
$gold: #a28265;
$light-gold: #d8c8b1;
$grey: #171a1a;
