// Override Bootstrap variables in this file, e.g.

$sans-font-stack: 'Lato', sans-serif;
$serif-font-stack: 'Old Standard TT', serif;

$hc-border-color: #fff;
$bg-white: #fff;
$bg-dark-blue: #1c2b2c;
