.module-bio {
  background-color: $bg-dark-blue;
  color: $white;
}

.module-bio--photo {
  background-color: $bg-white;

  background-image: url('../images/promo-photo-optimized.jpg');
  background-image: image-set(
    url('../images/promo-photo-optimized.jpg') 1x,
    url('../images/promo-photo@2x-optimized.jpg') 2x
  );
  background-image: -webkit-image-set(
    url('../images/promo-photo-optimized.jpg') 1x,
    url('../images/promo-photo@2x-optimized.jpg') 2x
  );
  background-image: -moz-image-set(
    url('../images/promo-photo-optimized.jpg') 1x,
    url('../images/promo-photo@2x-optimized.jpg') 2x
  );
  background-image: -o-image-set(
    url('../images/promo-photo-optimized.jpg') 1x,
    url('../images/promo-photo@2x-optimized.jpg') 2x
  );
  background-image: -ms-image-set(
    url('../images/promo-photo-optimized.jpg') 1x,
    url('../images/promo-photo@2x-optimized.jpg') 2x
  );
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center;
  min-height: 60rem;
}

.module-bio--title {
  max-width: 85%;
  margin-bottom: 8rem;
}

.module-bio--text {
  padding: 4em 3.5em 9em;
}

.module-bio--contact-info {
  font-weight: 800;
  letter-spacing: .25em;
  line-height: 1.6em;
  margin: .75em auto 2.5em;
}

.module-bio--text a {
  color: $light-gold;
  transition: color 300ms ease;
}

.module-bio--text a:hover {
  color: $gold;
  transition: color 300ms ease;
}

.module-bio--headings {
  font-size: 2.2rem;
  letter-spacing: .2em;
}

.module-bio--headings::after {
  bottom: .025em;
}

.module-bio--headings.bk::after {
  width: 14rem;
}

.module-bio--headings.fb::after {
  width: 16.5rem;
}

.module-bio--headings.ig::after {
  width: 18.5rem;
}

.module-bio--headings.tw::after {
  width: 15rem;
}

@media screen and (min-width: 600px){
  .module-bio--text {
    padding: 10em 3.5em 9em;
  }

}
