
#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

body {
  font-family: $sans-font-stack;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.scrollable-point {
  position: relative;
  top: -4.1rem;
}

@media screen and (min-width: 500px){
  br.mobile-break {
    display: none;
  }
}
