.module-music {
  padding: 4em 0 5em;
}

.module-music--iframe-container {
  max-width: 60rem;
  margin-top: 5rem;
  // margin: auto;
}



@media screen and (min-width: 600px){
  .module-music {
    padding: 10em 0 9em;
  }

  .module-music h2::after{
    width: 39rem;
  }

}
