.module-music {
  padding: 4em 0 5em;
  background: $light-gold; //fallback
  background-color: $light-gold; //fallback
  background-image: -webkit-linear-gradient(top, $light-gold, $bg-white);
  background-image:    -moz-linear-gradient(top, $light-gold, $bg-white);
  background-image:      -o-linear-gradient(top, $light-gold, $bg-white);
  background-image:         linear-gradient(to bottom, $light-gold, $bg-white);
}

.module-music--iframe-container {
  max-width: 60rem;
  margin-top: 5rem;
  // margin: auto;
}



@media screen and (min-width: 600px){
  .module-music {
    padding: 10em 0 9em;
  }

  .module-music h2::after{
    width: 39rem;
  }

}
