#navbar {
	position: fixed;
  top: 0;
  background: $bg-white;
  min-height: 5rem;
  width: 100%;
  border-bottom: 1px solid #ededed;
  z-index: 999999;
  transition: background 300ms ease, border-bottom 300ms ease;
}

#navbar.transparent {
  border-bottom: 0;
  transition: border-bottom 300ms ease;
}

#navbar .container {
  max-width: 140rem;
}

.navbar--social-icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-top: -8px;
  position: relative;
  top: .3rem;
  fill: $bg-dark-blue;
  transition: fill 300ms ease;
}

.navbar--social-icon:hover {
  fill: $gold;
  transition: fill 300ms ease;
}

.transparent .navbar--social-icon {
  fill: $white;
  transition: fill 300ms ease;
}

.transparent .navbar--social-icon:hover {
  fill: darken($white, 10);
  transition: fill 300ms ease;
}

.navbar--social-icon-wrapper {
  margin-left: 2em;
}

.navbar--social-icon-wrapper:first-of-type {
  margin-left: 0;
}

.navbar--helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar--links {
  font-family: $serif-font-stack;
  font-size: 1.5rem;
  letter-spacing: .4em;
  text-transform: uppercase;
  vertical-align: middle;
  color: $bg-dark-blue;
  transition: color 300ms ease;
}

#navbar.transparent,
.transparent a {
  color: $white;
  background: transparent;
  transition: color 300ms ease, background 300ms ease;
}

.transparent a:hover {
  color: darken($white, 10);
  transition: color 300ms ease;
}

.navbar--logo {
  vertical-align: middle;
  height: auto;
  max-width: 23rem;
  position: relative;
  top: -.2rem;
  opacity: 1;
  transition: visibility 300ms ease, opacity 300ms ease;
  width: 0;
}

.transparent .navbar--logo {
  visibility: hidden;
  opacity: 0;
  transition: visibility 300ms ease, opacity 300ms ease;
}

.navbar--list-item {
  display: block;
  list-style: none;
  margin: 0 1.2em;
}

.navbar--links a:last-child > .navbar--list-item {
  margin-right: 0;
}

// Mobile header specific:
.navbar--links,
.active .navbar--mobile-hamburger,
.navbar--mobile-x {
  display: none;
}

.active .navbar--links,
.active .navbar--mobile-x {
  display: block;
}

.navbar--mobile-toggle {
  display: block;
  height: 3.5rem;
  width: 2.25rem;
  position: relative;
  top: 1.5rem;
  left: -1.5rem;
  cursor: pointer;
}

.navbar--mobile-x {
  height: 1.75rem;
  width: 1.75rem;
  position: relative;
  left: .25rem;
  top: .25rem;
}

.navbar--mobile-x,
.navbar--mobile-hamburger {
  fill: $bg-dark-blue;
  transition: fill 300ms ease;
}

.transparent .navbar--mobile-x,
.transparent .navbar--mobile-hamburger {
  fill: #fff;
  transition: fill 300ms ease;
}

.navbar--links {
  position: relative;
  left: -3.5rem;
  width: 100%;
}

.navbar--list-item {
  width: 100%;
  margin-bottom: 1em;
  padding-bottom: .75em;
  border-bottom: 1px solid #efefef;
}

.navbar--social-icons {
  border-bottom: 0;
  text-align: center;
}

#navbar--overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  transition: opacity 300ms ease, z-index 325ms ease-out;
}

#navbar--overlay.active {
  z-index: 999990;
  opacity: .5;
  transition: opacity 300ms ease;
}

.navbar--mobile-logo {
  position: absolute;
  width: 18.8rem;
  top: 1.25rem;
  opacity: 1;
  transition: opacity 300ms ease;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.transparent .navbar--mobile-logo {
  opacity: 0;
}

.transparent .navbar--mobile-logo {
  transition: opacity 300ms ease;
}

.navbar--mobile-logo.active {
  display: none;
}

@media screen and (min-width: 700px) {
  #navbar--overlay,
  #navbar--overlay.active {
  display: none!important;
  }

  .navbar--links {
    display: block;
    text-align: right;
    position: static;
  }

  .navbar--social-icons {
    text-align: right;
  }

  .navbar--list-item {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .navbar--logo {
    width: auto;
  }

  .navbar--social-icon {
    display: inline;
    width: 1.8rem;
    height: 1.8rem;
  }

  .navbar--social-icon-wrapper {
    margin-left: .5em;
  }

  .navbar--social-icon-wrapper:first-of-type {
    margin-left: 0;
  }

  .navbar--mobile-toggle {
    display: none;
  }

  .navbar--mobile-logo {
    display: none;
  }
}
