.module-news {
  padding: 2em 0 10em;
}

.module-news--posts {
  margin-top: 4em;
  font-size: 1.4rem;
  letter-spacing: .2em;
  color: red;
}

.module-news--single-post {
  margin-top: 1.5em;
}

.module-news--date, .module-news--content-title {
  font-weight: 900;
}

.module-news--empty {
  padding-top: 1em;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: .2em;
}

@media screen and (min-width: 600px){
  .module-news {
    padding: 5em 0 15em;
  }

  .module-news h2::after{
    width: 39rem;
  }


}
