.module-shows {
  // min-height: 100vh;
  background-color: $bg-dark-blue;
  padding: 4em 0 10em;
}

.module-shows,
.module-shows a {
  color: $white;
  transition: color 200ms ease;
}

.module-shows a:hover {
  color: $gold;
  transition: color 200ms ease;
}

.module-shows h2::after {
  width: 87.5%
}

.module-shows--container {
  max-width: 120rem;
}

.module-shows--listings {
  margin-top: 4em;
  font-size: 1.4rem;
  letter-spacing: .2em;
}

.module-shows--single-listing {
  margin-top: 2.5em;
}

.module-shows--date, .module-shows--title {
  font-weight: 900;
}

.module-shows--empty {
  padding-top: 1em;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: .2em;
}

@media screen and (min-width: 600px){
  .module-shows {
    padding: 10em 0 18em;
  }

  .module-shows h2::after {
    width: 30rem;
  }

  .module-shows--single-listing {
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 1100px){
  .module-shows--title {
    padding-left: 1.75em;
  }
}
