.module-splash {
  background-color: $bg-white;

  background-image: url('../images/ep-art@2x.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  opacity: 0;
  height: 100vh;
  transform: translateY(-30px);
}

.module-splash.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2.25s ease, transform 1.5s ease-out;
}


.module-splash--title {
  margin-top: 80vh;
  height: auto;
  width: 80%;
  max-width: 60rem;
  position: relative;
  left: .3rem;
  transform: translateY(-40px);
  // opacity: 0;
}

.active .module-splash--title {
  transform: translateY(0);
  transition: transform 1.5s ease-out;
}

// .module-splash--title.active {
//   opacity: 1;
//   transition: opacity 2.5s ease;
// }
