// Display properties //

.hide,
.display-n {
  display: none;
}

.show,
.display-b {
  display: block;
}

.display-i,
.display-i > li { // For lists, so you aren't adding display-i to each line item
  display: inline;
}

.display-ib { display: inline-block; }
.display-it { display: inline-table; }
.display-t { display: table; }
.display-tc { display: table-cell; }
.display-t-row { display: table-row; }
.display-t-row-group { display: table-row-group; }
.display-t-column { display: table-column; }
.display-t-column-group { display: table-column-group; }

//  This will set table to full width and then
//  all cells will be equal width
.display-t-fixed { table-layout: fixed; width: 100%; }

.visibility-h { visibility: hidden;  }
.visibility-v { visibility: visible; }

.HV-overflow-v  { overflow: visible; }
.overflow-h  { overflow: hidden; }
.overflow-s  { overflow: scroll; }
.overflow-a  { overflow: auto;   }
