// Text and typography //

// Alignment
.text-c { text-align: center; }

// Transform
.text-upcase     { text-transform: uppercase; }
.text-lowercase  { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }

// Super text

.sup, sup {
  vertical-align: top;
  font-size: .575em;
  position: relative;
  bottom: .35em;
  margin: 0 .03em 0 .05em;
}
